
#logo {
    display: block;
    width: 35%;
    margin: auto auto;
}

.image {
    margin-top: 10%;
}

#username, #loginBtn {
    display: block;
    margin: auto auto;
    border-radius: 15px;
}

#username {
    padding-left: 10px;
    background-color: #d4d2d2;
}

#loginBtn {
    width: 10%;
}
#username:focus {
    outline: none;
  }

#navbar-logo {
    width: 8%;
}

.navbar-brand {
    padding-top: 0px;
}

.search-icon {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

.prof-info{
    text-align: center;
}

.pro-ven-heading {
    color: #ffff;
    padding: 10px;
    background-color: #808080;
}

th, td {
    border: 1px solid #808080;
  }

th, td {
    text-align: center;
}

th {
    border-top: none;
}

th:first-child, td:first-child {
    border-left:none;
}

th:last-child, td:last-child{
    border-right: none;
}

tr:last-child td{
    border-bottom: none;
}
  
